<div class="container">
  <div class="row py-3">
    <div class="col">
      <h2 class="text-center">Adminstrator Dashboard</h2>
      <%= @show.title %>
      <h5>Edit Producers:</h5>
      <% @show.users.where(role: "producer").each do |producer| %>
        <%= producer.first_name %>
      <% end %>




      <%= form_for @show do |f| %>
        <ul>
          <%= f.fields_for :users do |users_form| %>
            <% User.where(role: "producer").each do |producer| %>
              <li><%= check_box_tag(:producer_id) %> <%= producer.first_name %></li>
            <% end %>
          <% end %>
        </ul>

        <%= f.submit "Update Settings", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
