<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">

      <h1>Feeds</h1>

      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Url</th>
              <th scope="col">Ep Count</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>

          <tbody>
            <% @feeds.each do |feed| %>
              <tr>
                <th scope="row">
                  <%= image_tag feed.show.show_art, width: "30px" if feed.show.show_art.attached? %>
                  <%= feed.name %>
                </th>
                <td><small><%= feed.url %></small></td>
                <td><center><%= feed.episodes.count %></center></td>
                <td colspan="3">
                  <%= link_to feed do %>
                    <%= material_icon.refresh %>
                  <% end %>

                  <%= link_to feed do %>
                    <%= material_icon.remove_red_eye %>
                  <% end %>
                  <%= link_to edit_feed_path(feed) do %>
                    <%= material_icon.edit %>
                  <% end %>
                  <%= link_to feed, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <%= material_icon.delete %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>

      <%= link_to 'New Feed', new_feed_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
