<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">

      <p id="notice"><%= notice %></p>

      <h1>Feeds</h1>

      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Url</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>

          <tbody>
            <% @feeds.each do |feed| %>
              <tr>
                <th scope="row"><%= feed.name %></th>
                <td><%= feed.url %></td>
                <td colspan="3">
                  <%= link_to feed do %>
                    <%= material_icon.remove_red_eye %>
                  <% end %>
                  <%= link_to edit_feed_path(feed) do %>
                    <%= material_icon.edit %>
                  <% end %>
                  <%= link_to feed, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <%= material_icon.delete %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>

      <%= link_to 'New Feed', new_feed_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
