<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <p id="notice"><%= notice %></p>
      <%= image_tag @feed.show.show_art, class: "img-fluid" if @feed.show.show_art.attached? %>
      <p>
        <strong>Show:</strong>
        <%= link_to "#{@feed.show.title}", show_path(@feed.show) %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @feed.name %>
      </p>

      <p>
        <strong>Url:</strong>
        <%= @feed.url %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @feed.description %>
      </p>

      <div class="row">
        <div class="col-6">
          <%= link_to 'Edit', edit_feed_path(@feed), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-6">
          <%= link_to 'Back', feeds_path, class: "btn btn-primary btn-block" %>
        </div>
      </div>

    </div>
  </div>
</div>
