<%= form_for show_episode_path(show, episode) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.label :itunes_explicit %>
    <%= f.text_field :itunes_explicit, class: 'form-control' %>

    <%= f.hidden_field :show_id, value: @show.id  %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-success btn-block" %>
  </div>
<% end %>
