<%= form_for @episode, url: show_episodes_path(@show, @episode), method: :post do |f| %>
  <div class="form-inputs">
    <%= f.text_field :title %>
    <%= f.text_field :link %>
    <%= f.text_field :description %>
    <%= f.text_field :itunes_explicit %>
    <%= f.hidden_field :show_id, value: @show.id  %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-success btn-block" %>
  </div>
<% end %>
