<div class="container">
  <% if @episodes.size > 0 %>
    <div class="row paddingbottom">
      <ul class="list-group" id="admin_actions">
        <% @episodes.all.each do |episode| %>
          <a href="<%= show_episode_path(@show, episode) %>" class="list-group-item list-group-item-action">
            <div class="row">
              <div class="col">
                <%= episode.title %>
              </div>
              <div class="col">
                <%= episode.inspect %>
              </div>
              <div class="col">
                <%= @show.inspect %>
              </div>
            </div>
          </a>
        <% end %>
      </ul>
    </div>
    <div class="row paddingbottom">
      <div class="col-6 offset-3">
        <%= link_to "Create New", new_show_episode_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
    <% else %>
      <div class="col-6 offset-3">
        <p class="text-center">
          <strong><%= "#{@show.title}" %></strong><br><br>
          This show has no episodes.
        </p>
        <%= link_to "Create Some", new_show_episode_path, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
</div>
