<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6 mb-3">
          <%= link_to 'Edit', edit_show_episode_path(@show, @episode), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col-md-6 mb-3">
          <%= link_to 'Back', show_episodes_path(@show), class: "btn btn-warning btn-block" %>
        </div>
      </div>

      <div class="row mb-3">

        <div class="col-12">
          <div class="row">
            <div class="col-sm-2 text-center">
              <%= image_tag @episode.show.show_art, class: "img-fluid pb-3" %>
            </div>

            <div class="col-md-6 offset-md-2 pb-3">
              <div class="row text-center">
                <div class="col-12">
                  <audio controls>
                    <source src="<%= @episode.enclosure %>" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                  <div class="col-12">
                    <p><strong>Title:</strong> <%= @episode.title %></p>
                  </div>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-sm-6 pb-3">
                  <%= link_to "FP App Link", @episode.link, class: "btn btn-success btn-block" %>
                </div>
                <div class="col-sm-6 pb-3">
                  <%= link_to "Enclosure Link", @episode.enclosure, class: "btn btn-success btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-8">
          <div class="card mb-5">
            <% if current_user.administrator? %>
              <div class="card-header">
                <small class="text-muted float-right">*Administrator View Only</small>
                <strong>Client cost:</strong>
                <%= number_to_currency(@episode.client_cost) %>
                <strong>Paid:</strong>
                <%= "True" if @episode.paid %><%= "Not Yet" unless @episode.paid %>
              </div>
            <% end %>
            <div class="card-body">
              <p>
                <strong>Content Encoded:</strong>
                <%= @episode.content_encoded.html_safe %>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 pb-3">
          <div class="card">
            <ul class="list-group list-group-flush text-tiny">
              <li class="list-group-item">
                <small><strong>Show ID:</strong> <%= @episode.show_id %></small>
              </li>
              <li class="list-group-item">
                <small><strong>Episode ID:</strong> <%= @episode.id %></small>
              </li>
              <li class="list-group-item">
                <small><strong>Duration:</strong> <%= @episode.itunes_duration %></small>
              </li>
              <li class="list-group-item">
                <small><strong>Updated Date:</strong> <%= @episode.updated_at.strftime("%m-%d-%Y") %></small>
              </li>
              <li class="list-group-item">
                <small><strong>Creation Date:</strong> <%= @episode.created_at.strftime("%m-%d-%Y") %></small>
              </li>
              <li class="list-group-item">
                <small><strong>Date Published:</strong> <%= @episode.pub_date.strftime("%m-%d-%Y") %></small>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
