<% @invoices.each do |invoice| %>
  <div class="col-sm-6 pb-3">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Episodes</a>
            </li>
            <li class="nav-item">
              <%= link_to invoice, class: "nav-link" do %>
                <%= material_icon.remove_red_eye %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to edit_invoice_path(invoice), class: "nav-link" do %>
                <%= material_icon.edit %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless">

              <h5 class="card-title">
                <thead>
                  <tr>
                    <th colspan="9"></th>
                    <th colspan="3">Manage</th>
                  </tr>
                </thead>
              </h5>
              <p class="card-text">
                <tbody>
                  <tr>
                    <td scope="row" colspan="7">

                      <% invoice.users.each do |u| %>
                        <% if u.role == "producer" %>
                          <%= "<h2>#{u.first_name.capitalize}</h2>".html_safe unless u.first_name.nil? %>
                        <% end %>
                      <% end %>

                      <div class="row">
                        <div class="col">
                          <div class="d-inline-flex p-2">
                            <p>Amount Due from Client: $<%= invoice.amount_due_from_client %></p>
                          </div>
                        </div>
                        <div class="col">
                          <div class="d-inline-flex p-2">
                            <p>Amount Due to Producer: $<%= invoice.amount_due_to_producer %></p>
                          </div>
                        </div>
                      </div>
                      <% if invoice.episodes.size > 0 %>
                        <% invoice.episodes.each do |episode| %>
                          <p>
                            <%= image_tag episode.show.show_art, width: "25px" %>
                            <%= episode.title %> <%= episode.pub_date.strftime("%m %d %Y") %><br>
                          </p>
                        <% end %>
                      <% else %>
                        <p>No podcasts produced this month.</p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </p>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
