<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h1>Invoices</h1>

      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Amount due</th>
              <th scope="col">Status</th>
              <th scope="col">Invoice number</th>
              <th scope="col">Invoice date</th>
              <th scope="col">Payment due</th>
              <th scope="col">Users</th>
              <th scope="col">Notes</th>
              <th colspan="3">Manage</th>
            </tr>
          </thead>

          <tbody>
            <% @invoices.each do |invoice| %>
              <tr>
                <td scope="row"><%= invoice.amount_due %></td>
                <td><%= invoice.status %></td>
                <td><%= invoice.invoice_number %></td>
                <td><%= invoice.invoice_date %></td>
                <td><%= invoice.payment_due %></td>
                <td>
                  <% invoice.users.each do |u| %>
                    <%= "- #{u.name}" %>
                  <% end %>
                </td>
                <td><%= invoice.notes %></td>
                <td><%= link_to 'Show', invoice %></td>
                <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
                <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>

      <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
