<div class="container">
  <div class="row">
    <div class="col-8-md offset-2-md pb-5">

      <div class="row">
        <span class="float-right">
          Episodes: <%= @invoice.episodes.size %>
        </span><br>
      </div>

      <div class="row pb-3">
        <% if @invoice.episodes.size > 0 %>

          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Show</th>
                <th scope="col">Episode Title</th>
                <th scope="col">Show Title</th>
                <th scope="col">Duration</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% @invoice.episodes.each do |episode| %>
                <tr>
                  <th scope="row">
                    <% if episode.show.show_art.attached? %>
                      <%= image_tag episode.show.show_art, width: "25px" %>
                    <% else %>
                      <%= image_tag "default_user_avatar.jpg", width: "25px" %>
                    <% end %>
                  </th>
                  <td>
                    <%= link_to episode.title, show_episode_path(episode.show, episode) %>
                  </td>
                  <td><%= episode.show.title %></td>
                  <td><%= episode.itunes_duration.to_i %></td>
                  <td><%= episode.client_cost %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <% else %>
          <p>You currently have no episodes tracked on this invoice.</p>
        <% end %>
      </div>

      <div class="row">
        <div class="col">
          <%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-warning btn-block" %>
        </div>
        <div class="col">
          <%= link_to 'View', invoices_path, class: "btn btn-primary btn-block" %>
        </div>
      </div>

    </div>
  </div>
</div>
