<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name, autofocus: true %><br>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %><br>

  <%= form.label :email %>
  <%= form.text_field :email %><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
