<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :status %>
  </div>

  <div class="form-inputs">
    <%= f.file_field :avatar, multiple: false, direct_upload: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
  </div>
<% end %>
