<%= render 'layouts/nav' %>
<div class="container">
  <div class="row pt-5">
    <div class="col-md-6">
      <ul>
        <li><%= link_to "Main Page", root_path %></li>
        <li><%= link_to 'Tags', tags_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
        <li><%= link_to 'Pages', pages_path %></li>
        <li><%= link_to 'Profile', pages_path %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <% if user_signed_in? %>
          <li>Logged in as <strong><%= current_user.email %></strong>.</li>
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="row pt-5">
    <div class="col-md-8 offset-md-2 pb-5">
      <h4>An app to make podcast production faster.</h4>
    </div>
    <div class="col-md-4 offset-md-4">
      <%= link_to "Try Freedom", new_user_session_path, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>
