<div class="container-fluid">
  <div class="row">
    <% if current_user.nil? %>
      <%= render "unknown_user_dashboard" %>
    <% elsif current_user.administrator? %>
      <%= render "administrator_user_dashboard" %>
    <% elsif current_user.producer? %>
      <%= render "producer_user_dashboard" %>
    <% elsif current_user.client? %>
      <%= render "client_user_dashboard" %>
    <% elsif current_user.stranger? %>
      <%= render "stranger_user_dashboard" %>
    <% end %>
  </div>
  <div class="row">
    <% unless @shows == nil %>
      <div class="col-md-10 offset-md-1">
        <h1>Our Favorite Shows</h1>
        <% @shows.each do |show| %>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <p><%= image_tag show.show_art, width: "100%" %></p>
                  <p class="text-center">
                    <%= pluralize show.episodes.count, "Episode" %>
                  </p>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col-6">
                      <p><%= link_to show.title, show %></p>
                      <p><strong>Host:</strong> <%= show.host %></p>
                    </div>
                    <div class="col-6">
                      <p><%= link_to "Feed URL", show.feed_url, target: "_blank" %></p>
                    </div>
                  </div>
                  <p><%= show.description %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
