<% if @posts.count == 0 %>
  <h1>sorry, no posts yet</h1>
<% else %>
  <% @posts.each do |post| %>
    <h2><strong>Title: </strong><%= post.title %></h2>
    <p><strong>Body: </strong><%= post.body %></p>
    <p>By: <%= User.find(post.user_id).name %></p>
  <% end %>
<% end %>
<%= link_to "Create New Post", new_post_path %>
<%= link_to "Main Page", root_path %>
