<%= simple_form_for(@show) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :host %>
    <%= f.input :website %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :subtitle %>
    <%= f.file_field :show_art, multiple: false, direct_upload: true %>
    <p></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary btn-block mb-4" %>
  </div>
<% end %>
