<div class="row pt-5">
  <% unless @shows == [] %>
    <div class="col-lg-10 offset-lg-1">
      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <% @shows.each do |show| %>
            <div class="list-group-item">
              <div class="row">
                <div class="col">
                  <%= render "shows/partials/default_show_art", show: show %>
                </div>
                <div class="col-10">
                  <p>
                    <small class="text-muted">Title:</small>
                    <%= link_to "rss_feed", show.feed_url, target: "_blank" %>
                  </p>
                  <p>
                    <small class="text-muted">Host:</small> <%= show.host %>
                  </p>
                  <small class="text-muted">Episode Count:</small> <%= show.episodes.count %>
                  <%= link_to show, class: common_big_bold_button do %>
                    Show Details
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
