<ul class="list-group">
  <% @episodes.sort_by(&:created_at).reverse.each do |episode| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <p><%= link_to episode.title, show_episode_path(@show, episode) %></p>
        </div>


      </div>
      <div class="row">
        <div class="col-md-3">
          <%= link_to "edit", edit_show_episode_path(@show, episode), class: common_small_bold_button("warning") %>
        </div>
        <div class="col-md-3">
          <%= link_to "view", show_episode_path(@show, episode), class: common_small_bold_button %>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive">
            <% if episode.enclosed_audio.attached? %>
              <audio controls>
                <source src="<%= url_for(episode.enclosed_audio) %>" type="<%= episode.enclosed_audio.content_type %>">
                Your browser does not support the audio element.
              </audio>
            <% else %>
              <p>No audio file uploaded yet.</p>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
