<div class="container">
  <div class="row paddingbottom">
    <div class="col-2">
      <% if @show.show_art.attached? %>
        <%= image_tag @show.show_art, class: "img-fluid" %>
      <% else %>
        <%= image_tag "default/show-art.jpg", class: "img-fluid" %>
      <% end %>
    </div>
    <div class="col-2">
      <p><strong>Show Title:</strong></p>
      <p><%= @show.title %></p>
    </div>
    <div class="col-2">
      <p><strong>Host:</strong></p>
      <p><%= @show.host %></p>
      <p><strong>Website:</strong></p>
      <p><%= @show.website %></p>
    </div>
    <div class="col-2">
      <p><strong>Category:</strong></p>
      <p><%= @show.category %></p>
    </div>
    <div class="col-4">
      <p><strong>Description:</strong></p>
      <p><%= truncate(@show.description, length: 140) %></p>
      <p><strong>Subtitle:</strong></p>
      <p><%= @show.subtitle %></p>
    </div>
  </div>

  <div class="row paddingbottom">
    <div class="col">
      <%= link_to "Create an Episode", new_show_episode_path(@show), class: "btn btn-primary btn-block" %>
    </div>
    <div class="col">
      <%= link_to 'Edit Show Details', edit_show_path(@show), class: "btn btn-primary btn-block" %>
    </div>
    <div class="col">
      <%= link_to 'All My Shows', shows_path, class: "btn btn-primary btn-block"  %>
    </div>
  </div>

  <div class="row paddingbottom">

    <div class="col">
      <h2>Episodes</h2>
      <% if @episodes.count > 0 %>
        <div class="list-group">
          <% @episodes.reverse.each do |episode| %>
            <a href="<%= show_episode_path(@show, episode) %>" class="list-group-item list-group-item-action list-group-item-primary">
              <p><strong>Title:</strong> <%= episode.title %></p>
            </a>
          <% end %>
        </div>
      <% else %>
        <p>You currently have no episodes.</p>
        <p><%= link_to "Create an Episode", new_show_episode_path(@show), class: "btn btn-success btn-block" %></p>
      <% end %>
    </div>

  </div>
</div>
