<div class="container">
  <div class="row paddingbottom">
    <div class="col">
      <p><strong>Show Title:</strong></p>
      <p><%= @show.title %></p>
    </div>
    <div class="col">
      <p><strong>Host:</strong></p>
      <p><%= @show.host %></p>
    </div>
    <div class="col">
      <p><strong>Website:</strong></p>
      <p><%= @show.website %></p>
    </div>
    <div class="col">
      <p><strong>Category:</strong></p>
      <p><%= @show.category %></p>
    </div>
    <div class="col">
      <p><strong>Description:</strong></p>
      <p><%= @show.description %></p>
    </div>
    <div class="col">
      <p><strong>Subtitle:</strong></p>
      <p><%= @show.subtitle %></p>
    </div>
  </div>

  <div class="row paddingbottom">
    <div class="col">
      <%= link_to "Create an Episode of #{@show.title}", new_show_episode_path(@show), class: "btn btn-primary btn-block" %>
    </div>
    <div class="col">
      <%= link_to 'Edit Show Details', edit_show_path(@show), class: "btn btn-primary btn-block" %>
    </div>
  </div>


  <h2>Episodes</h2>
  <% if @episodes.count > 0 %>
    <% @episodes.each do |episode| %>
      <p><strong>Title:</strong> <%= episode.title %></p>
    <% end %>
  <% else %>
    <p>You currently have no episodes.</p>
    <p><%= link_to "Create an Episode", new_show_episode_path(@show), class: "btn btn-success btn-block" %></p>
  <% end %>

  <%= link_to 'Edit', edit_show_path(@show) %> |
  <%= link_to 'Back', shows_path %>
</div>
