<div class="container">

  <% if @show.users.include?(current_user) %>
    <div class="row py-3">
      <% if current_user.role == "administrator" %>
        <div class="col">
          <%= link_to 'Admin Dashboard', show_administrator_dashboard_path(@show), class: common_big_bold_button %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row pb-3">
    <div class="col-2">
      <% if @show.show_art.attached? %>
        <%= image_tag @show.show_art, class: "img-fluid" %>
      <% else %>
        <%= image_tag "default/show-art.jpg", class: "img-fluid" %>
      <% end %>
      <p>
        <small class="text-muted">Show Title:</small><br> <%= @show.title %>
      </p>
      <p>
        <small class="text-muted">Subtitle:</small><br> <%= @show.subtitle %>
      </p>
      <p>
        <small class="text-muted">Host:</small><br> <%= @show.host %>
      </p>
      <p>
        <small class="text-muted">Website:</small><br> <%= @show.website %>
      </p>
      <p>
        <small class="text-muted">Description:</small><br> <%= truncate(@show.description, length: 140) %>
      </p>
      <%= link_to 'Edit Show Details', edit_show_path(@show), class: common_small_bold_button("warning") %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h3><%= "#{pluralize(@episodes.count, "Episode")}" %></h3>
          <%= link_to "RSS FEED", feed_show_url(@show) %>
        </div>
        <div class="col">
          <%= link_to "New Episode", new_show_episode_path(@show), class: common_big_bold_button("success") %>
        </div>
      </div>
      <% if @episodes.count > 0 %>
        <%= render "show_episode_list_item" %>
      <% else %>
        <p>You currently have no episodes.</p>
      <% end %>
      <%= link_to "Publish a New Episode", new_show_episode_path(@show), class: common_big_bold_button("success") %>
    </div>
  </div>

</div>
