<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Host:</strong>
  <%= @show.host %>
</p>

<p>
  <strong>Website:</strong>
  <%= @show.website %>
</p>

<p>
  <strong>Category:</strong>
  <%= @show.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @show.subtitle %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
