<div class="container py-3">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <%= image_tag "freedom_podcasting_logo_and_company_name.svg", class: "", height: "80" %>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <%= link_to "Shows", shows_path, class: "me-3 py-2 text-dark text-decoration-none" if current_user.shows.count > 1 %>
      <%= link_to "Dashboard", root_path, class: "me-3 py-2 text-dark text-decoration-none" %>
      <%= link_to "Tools", tools_path, class: "me-3 py-2 text-dark text-decoration-none" %>
      <%= link_to "Settings", edit_user_path(current_user), class: "py-2 text-dark text-decoration-none" %>
    </nav>
  </div>
</div>
