<ul class="nav justify-content-end text-center">

  <li class="nav-item">
    <%= link_to root_path, class: "nav-link" do %>
      <%= material_icon.home %><br>Home
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to shows_path, class: "nav-link" do %>
      <%= material_icon.slideshow %><br>Shows
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to feeds_path, class: "nav-link" do %>
      <%= material_icon.rss_feed %><br>Feeds
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to invoices_path, class: "nav-link" do %>
      <%= material_icon.attach_money %><br>Invoices
    <% end %>
  </li>
  <% if current_user.role === "administrator" %>
    <li class="nav-item">
      <%= link_to users_path, class: "nav-link" do %>
        <%= material_icon.supervisor_account %><br>Users
      <% end %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to edit_user_path(current_user), class: "nav-link" do %>
      <%= material_icon.settings_application %><br>Settings
    <% end %>
  </li>

</ul>
