<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Freedom Podcasting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse text-center" id="navbarNav">
    <ul class="navbar-nav justify-content-center">

      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          Home
        <% end %>
      </li>
      <% if current_user.role == "administrator" || current_user.role == "producer" %>
        <li class="nav-item">
          <%= link_to shows_path, class: "nav-link" do %>
            Shows
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to invoices_path, class: "nav-link" do %>
            Invoices
          <% end %>
        </li>
      <% end %>
      <% if current_user.role === "administrator" %>
        <li class="nav-item">
          <%= link_to users_path, class: "nav-link" do %>
            Users
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to tools_path, class: "nav-link" do %>
          Tools
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_path(current_user), class: "nav-link" do %>
          <br>Settings
        <% end %>
      </li>
    </ul>
  </div>
</nav>
