<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">

      <% if notice || alert %>
        <li class="notice navbar-item"><%= notice %></li>
        <li class="alert navbar-item"><%= alert %></li>
      <% end %>
      <% if producer_signed_in? %>
        <li class="alert navbar-item" style="display: none">
          <a class="navbar-link">Logged in as <strong><%= current_producer.email %></strong>.</a>
        </li>
        <li class="alert navbar-item">
          <%= link_to 'Edit profile', edit_producer_registration_path, :class => 'navbar-link' %>
        </li>
        <li class="alert navbar-item">
          <%= link_to "Logout", destroy_producer_session_path, method: :delete, :class => 'navbar-link'  %>
        </li>
      <% else %>
        <li class="alert navbar-item">
          <%= link_to "Sign up", new_producer_registration_path, :class => 'navbar-link'  %>
        </li>
        <li class="alert navbar-item">
          <%= link_to "Login", new_producer_session_path, :class => 'navbar-link'  %>
        </li>
      <% end %>
      <li class="navbar-item">
        <%= link_to "Home", root_path, :class => 'navbar-link'  %>
      </li>
    </ul>
  </div>
</nav>
