<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freedom Podcasting - Podcast Production Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="freedom-podcasting-app-favicon.png" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/authenticated_navigation_bar' if user_signed_in? %>
    <%= render "layouts/alert" %>
    <%= yield %>
  </body>
</html>
