<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freedom Podcasting - Podcast Production Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="<%= asset_path 'freedom-podcasting-app-favicon.png' %>" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %> 
    <%= vite_client_tag %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
  <!-- 
    <%= render "layouts/alert" %>
    <% if user_signed_in? %>
      <%= render 'layouts/authenticated_navigation_bar' %>
    <% end %>
    <%= yield %>
    -->
    <div id="root"></div>
    <%= vite_javascript_tag "application.jsx" %>
  </body>
</html>
