<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Freedom Podcasting - Podcast Editing and Podcast Production Service
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Devise error handling -->
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <!-- Default Rails Behavior -->
    <%= yield %>
  </body>
</html>
