<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freedom Podcasting - Podcast Production Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('freedom-podcasting-app-favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/authenticated_navigation_bar' if user_signed_in? %>
    <%= render "layouts/alert" %>
    <%= yield %>
  </body>
</html>
